extends layout

block content
    body
        #mainContainer.container-fluid
            .row
                .col-lg-6.col-lg-offset-3.text-center
                    h1 Easy Drop
            // Two buttons to choose modes
            #mode.row
                .col-lg-6.col-lg-offset-3.text-center
                    button#sendFileButton.btn.btn-hg.btn-primary(data-toggle='tooltip', title='Click me if you want to send a file to others')
                        | &nbsp&nbspSend File&nbsp&nbsp
                    button#receiveFileButton.btn.btn-hg.btn-primary(data-toggle='tooltip', title='Click me if you want to request a file from others')
                        | Receive File
            #dynamicContainer.container-fluid
        // /.container
        // jQuery (necessary for Flat UI's JavaScript plugins)
        script(src='/FlatUI/dist/js/vendor/jquery.min.js')
        script(src='/FlatUI/dist/js/vendor/video.js')
        script(src='/FlatUI/dist/js/flat-ui.min.js')
        script(src='/javascripts/async-polling.min.js')
        script(src='/javascripts/script.js')
