body {
  padding: 10px;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.col-lg-6{
    margin-bottom: 20px;
}

#getidButton{
    background-color: #3498DB;
}

#sessionIDContainer p:nth-child(2){
    font-size: 40px;
}

#fileDropZone{
    border: dashed 5px blue;
}