body {
  padding: 10px;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.col-lg-6{
    margin-bottom: 20px;
}

#getidButton{
    background-color: #3498DB;
}

#sessionIDContainer p:nth-child(2){
    font-size: 40px;
}
#sessionIDInput{
    text-align: center;
}
.defaultDropZoneBorder{
    border: dashed 3px #3498DB;
    border-radius: 10px;
}
.has-success{
    border: solid 3px #2ECC71;
    border-radius: 10px;
}

.has-error{
    border: solid 3px #E74C3C;
    border-radius: 10px;
}
/*#fileDropZone{*/
    /*border: dashed 5px blue;*/
/*}*/